[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = sumo
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel
	branch = sumo
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = sumo
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = sumo
[submodule "meta-measured"]
	path = meta-measured
	url = https://github.com/flihp/meta-measured.git
	branch = master
